@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    font-family: 'Cinzel', serif;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 0em;
    background-color: black;
}

/* circular navigation bar */
.navbar:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
    z-index: 100;
}

nav {
    position: relative;
    display: block;
    width: 10em;
    height: 10em;
    margin: auto;
    margin-top: 9em;
    margin-bottom: 15em;
    text-align: center;
    border-radius: 100%;
    align-items: center;
}

nav img {
    margin-left: -10px;
    margin-right: auto;
    width: 100%;
}

.link {
    position: absolute;
    display: block;
    background: red;
    width: 6.6em;
    height: 6.6em;
    border-radius: 100%;
    top: -8em;
    right: 20%;
    -webkit-transform-origin: 3.3em 13.2em;
    -moz-transform-origin: 3.3em 13.2em;
    -ms-transform-origin: 3.3em 13.2em;
    -o-transform-origin: 3.3em 13.2em;
    transform-origin: 3.3em 13.2em;
    -webkit-animation: rotate 2.5s linear 0s 0.8 normal both;
    -moz-animation: rotate 2.5s linear 0s 0.8 normal both;
    animation: rotate 2.5s linear 0s 0.8 normal both;
    z-index: -1;
}

#link-1 {
    background-color: red;
}

#link-2 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    background: red;
    -webkit-animation-iteration-count: 0.6;
    -moz-animation-iteration-count: 0.6;
    animation-iteration-count: 0.6;
}

#link-3 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    background: red;
    -webkit-animation-iteration-count: 0.4;
    -moz-animation-iteration-count: 0.4;
    animation-iteration-count: 0.4;
}

#link-4 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
    background: red;
    -webkit-animation-iteration-count: 0.2;
    -moz-animation-iteration-count: 0.2;
    animation-iteration-count: 0.2;
}

#link-5 {
    background-color: red;
}

#link-5, #link-5 span {
    -webkit-animation: grow 0.5s linear 1.6s 1 normal both;
    -moz-animation: grow 0.5s linear 1.6s 1 normal both;
    animation: grow 0.5s linear 1.6s 1 normal both;
}

nav a span {
    position: absolute;
    display: block;
    line-height: 6.6em;
    width: 6.6em;
    text-align: center;
    -webkit-animation: inherit;
    -moz-animation: inherit;
    animation: inherit;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

a.link, a.link span {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

a.link:hover, a.link:hover span {
    cursor: pointer;
    color: yellow;
    font-weight: bold;
    height: 7em;
    width: 7em;
    line-height: 6.8em;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: scale(0.1) rotate(0deg);
    }

    15% {
        -webkit-transform: scale(0.76) rotate(60deg);
    }

    20% {
        -webkit-transform: scale(1) rotate(72deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: scale(0.1) rotate(0deg);
    }

    15% {
        -moz-transform: scale(0.76) rotate(60deg);
    }

    20% {
        -moz-transform: scale(1) rotate(72deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: scale(0.1) rotate(0deg);
        -moz-transform: scale(0.1) rotate(0deg);
        -ms-transform: scale(0.1) rotate(0deg);
        -o-transform: scale(0.1) rotate(0deg);
        transform: scale(0.1) rotate(0deg);
    }

    15% {
        -webkit-transform: scale(0.76) rotate(60deg);
        -moz-transform: scale(0.76) rotate(60deg);
        -ms-transform: scale(0.76) rotate(60deg);
        -o-transform: scale(0.76) rotate(60deg);
        transform: scale(0.76) rotate(60deg);
    }

    20% {
        -webkit-transform: scale(1) rotate(72deg);
        -moz-transform: scale(1) rotate(72deg);
        -ms-transform: scale(1) rotate(72deg);
        -o-transform: scale(1) rotate(72deg);
        transform: scale(1) rotate(72deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(360deg);
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(0.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes grow {
    0% {
        -moz-transform: scale(0.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

section {
    padding: 1%;
    text-align: center;
    color: white;
}

/* Home Section */

.title {
    font-size: 50px;
    display: block;
}

.soft-title {
    font-size: 20px;
    margin-bottom: 10em;
}

#Home {
    padding-bottom: 10em;
}

.soft-title p {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #B90E0A, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:rgb(255,255,255,0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

/* About Me Section */
.about-me-grid {
    display: grid;
    grid-template-columns: repeat(3, 444px);
    grid-auto-rows: 444px;
    justify-content: center;
    grid-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    grid-auto-flow: row;
    margin-top: 2%;
}

.about-me-grid img {
    margin: auto;
}

.about-me-grid h4 {
    font-size: 30px;
    margin: 10px;
}

.about-me-grid p {
    color: crimson;
    font-size: 24px;
}

.about-me-grid .flip-coin {
    grid-row-start: 1;
    grid-column-start: 2;
}

#AboutMe h2 {
    padding-bottom: 2%;
    font-size: 33px;
}

#AboutMe h2:hover {
    color: crimson;
}

/* Flip Coin*/
.flip-coin {
    background-color: transparent;
    width: 444px;
    height:444px;
    perspective: 1000px;
    border-color: black;
    border-radius: 10px;
}

.flip-coin-whole {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-coin:hover .flip-coin-whole {
    transform: rotateY(180deg);
}

.coin-front, .coin-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
}

.coin-front {
    background-color: white;
    color: blue;
}

.coin-front img {
    border-radius: 50%;
}

.coin-back {
    background-color: blue;
    color: black;
    box-sizing: border-box;
    transform: rotateY(180deg);
    box-shadow: inset 0px 0px 0px 40px white;
}